*{
    text-align: center;
}
h1 {
    color: midnightblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}
p {
    color: rgb(121, 121, 202);
    font-size: 20px;
}
